h2 {
    display: inline;
    background-color: orangered;
}

a {
    background-color: skyblue;
    padding: 1em;
}

.left {
    float: left;
}

.right {
    float: right;
}


.cube {
    width: 200px;
    height: 200px;
    display: inline-block;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

/* Inside Green */
.violet {
    background-color: violet;
    width: 50px;
    height: 50px;
    float: left;
}

.orange {
    background-color: orange;
    width: 50px;
    height: 50px;
    float: right;
}

.skyblue {
    background-color: skyblue;
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 50px;
}

.purple {
    background-color: purple;
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 50px;
}

.blue {
    background-color: blue;
}

/* Styling the box  */

.box {
    margin: 50px;
    display: inline-block;
}

.box span {
    display: block;
    text-align: center;
    margin-bottom: 45px;
}

.box a {
    background-color: #2b4694;
    color: #fff;
    text-decoration: none;
    padding: 12px 55px;
    border: 1px solid #bec8cf;
    /* border-width: 1px;
    border-style: solid;
    border-color: #bec8cf; */
    border-radius: 5px;
}